body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
ul{
  list-style: none;
}a{
  text-decoration: none;
}

::selection{
  background-color: #0611e7;
  color:#080808;
}
/*==navigation=======================================*/
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  max-width: auto;
  width: 100%;
  background-color: #080808;
  position: fixed;
  top:0;
  height: 3vh;
}
.navigation .menu-icon{
  cursor: pointer;
  float: right;
  padding: 20px 10px;
  z-index: 103; 
}
.navigation .menu-icon .nav-icon{
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  transition: backround 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
  background-color: #ffffffcc;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: all ease-out 0.2s;
}
.navigation .menu-icon .nav-icon::before{
  top: 8px;
}
.navigation .menu-icon .nav-icon::after{
  top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0px;
}
.menu-btn{
  display: none;
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* logo */
.logo {
  color: #0611e7;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px auto 0px 40px;
  display: flex;
  align-items: center;
  font-family: Lobster, sans-serif;
  letter-spacing: 1px;
}
.logo span {
  font-size: 3rem;
  color: #ffffff;
  font-family: Lobster, sans-serif;
  margin-left: 5px;
  font-weight: 700;
  letter-spacing: 2px;
}

.movie-details {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.overview-paragraph {
  max-width: 600px;
  margin: 0 auto;
}
