*{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  background-color: #151515;
}
ul{
  list-style: none;
}a{
  text-decoration: none;
}

::selection{
  background-color: #0611e7;
  color:#080808;
}
/*==navigation=======================================*/
.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  max-width: auto;
  width: 100%;
  background-color: #080808;
  position: fixed;
  top:0;
  height: 13vh;
}
.navigation .menu-icon{
  cursor: pointer;
  float: right;
  padding: 20px 10px;
  z-index: 103; 
}
.navigation .menu-icon .nav-icon{
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 25px;
  position: relative;
  transition: backround 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
  background-color: #ffffffcc;
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: all ease-out 0.2s;
}
.navigation .menu-icon .nav-icon::before{
  top: 8px;
}
.navigation .menu-icon .nav-icon::after{
  top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon{
  background-color: transparent;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0px;
}
.menu-btn{
  display: none;
}

/*----menu---------*/
.menu{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #111111f1;
  z-index: 102;
  display: none;
  justify-content: center;
  align-items: center;
  animation: fade 0.3s;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  width: 16.66%; /* Set each item to occupy approximately 1/6th of the width */
  box-sizing: border-box; /* Include padding and border in width calculation */
  text-align: center;
  margin: 5px 0px; /* Adjusted the vertical margin to reduce space between rows */
}

.menu li a{
  color:#ffffff;
  margin: 10px 10px;
  font-size: 2rem;
  font-family: Lobster, sans-serif;
  transition: all ease 0.3s;
}
.menu li a:hover{
  font-size: 3rem ;
  color: #0611e7;
  transition: all ease 0.3s;
}
.navigation .menu-btn:checked ~ .menu{
  display:flex;
  
}

@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/*--logo----------*/
.logo{
  color: #0611e7;
  font-size: 3rem;
  font-weight: 400;
  margin: 0px auto 0px 40px;
  display: flex;
  align-items: center;
  font-family: Lobster, sans-serif;
  letter-spacing: 1px;
}
.logo span{
  font-size: 3rem;
  color: #ffffff;
  font-family: Lobster, sans-serif;
  margin-left: 5px;
  font-weight: 700;
  letter-spacing: 2px;
}

/*--Account------*/
.account-buttons{
  display: flex;
}
.username-link {
  font-size: 2.5rem;
  background-color: #080808;
  color: #ffffff;
  font-family: Lobster, sans-serif;
  margin-right: 16px;
  border: none;
}
.username-link:hover{
  color: #0611e7;
  transition: all ease 0.3s;
  cursor: pointer;
}

/*--search-------*/
.search-box{
  background-color: #d1d1d111;
  padding: 3px 20px;
  border-radius: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.search-box input{
  background-color: transparent;
  border: none;
  outline: none;
  color: #ffffff;
}
.search-box input::placeholder{
  color: #ffffff5e
}
.search-box button{
  background-color: transparent;
  color: #ffffffC9;
  border: none;
  outline: none;
  cursor: pointer;
}
.search-results-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}
.search-results-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #eee; 
}
.search-results-dropdown li:last-child {
  border-bottom: none; 
}
.search-results-dropdown a {
  text-decoration: none;
  color: #333; 
  display: block;
}
.search-results-dropdown a:hover {
  background-color: #f5f5f5; 
}

/*==Container=================================*/
.container{
  height: calc(100vh - 50px);
  background-color: #151515;
  color: white;
}
.content-container{
  margin-top: 13vh;
}
.container-login{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}
.box{
  background: #080808;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  
}
.form-box{
  width: 450px;
  margin: 0px 10px;
  margin-top: 80px;
}
.form-box header{
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #0611e7;
  margin-bottom: 10px;
}
.form-box form .field{
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;

}
.form-box form .input input{
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}
.btn{
  height: 35px;
  background: #0611e7;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
}
.btn:hover{
  opacity: 0.82;
}
.submit{
  width: 100%;
}
.links{
  margin-bottom: 15px;
}
/*==popular-movies====================*/
.movie-list-container {
  margin-top: 16px;
  padding: 20px;
}
.movie-list {
  display: flex;
}
.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.movie-list-title {
  margin-left: 16px;
}

/*==top-rated============================*/
.top-rated-list-container {
  margin-top: 16px;
  padding: 20px;
}
.top-rated-list {
  display: flex;
}
.top-rated-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.top-rated-list-item:hover .top-rated-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.top-rated-list-title {
  margin-left: 16px;
}
/*==Upcoming============================*/
.upcoming-list-container {
  margin-top: 16px;
  padding: 20px;
}
.upcoming-list {
  display: flex;
}
.upcoming-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.upcoming-list-item:hover .upcoming-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.upcoming-list-title {
  margin-left: 16px;
}
/*==Action==================================*/
.action-list-container {
  margin-top: 16px;
  padding: 20px;
}
.action-list {
  display: flex;
  flex-wrap: wrap;
}
.action-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.action-list-item:hover .action-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.action-list-title {
  margin-left: 16px;
}
/*==Romance==================================*/
.adventure-list-container {
  margin-top: 16px;
  padding: 20px;
}
.adventure-list {
  display: flex;
  flex-wrap: wrap;
}
.adventure-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.adventure-list-item:hover .adventure-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.adventure-list-title {
  margin-left: 16px;
}
/*==Animation==================================*/
.animation-list-container {
  margin-top: 16px;
  padding: 20px;
}
.animation-list {
  display: flex;
  flex-wrap: wrap;
}
.animation-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.animation-list-item:hover .animation-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.animation-list-title {
  margin-left: 16px;
}
/*==Comedy==================================*/
.comedy-list-container {
  margin-top: 16px;
  padding: 20px;
}
.comedy-list {
  display: flex;
  flex-wrap: wrap;
}
.comedy-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.comedy-list-item:hover .comedy-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.comedy-list-title {
  margin-left: 16px;
}
/*==Crime==================================*/
.crime-list-container {
  margin-top: 16px;
  padding: 20px;
}
.crime-list {
  display: flex;
  flex-wrap: wrap;
}
.crime-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.crime-list-item:hover .crime-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.crime-list-title {
  margin-left: 16px;
}
/*==Drama==================================*/
.drama-list-container {
  margin-top: 16px;
  padding: 20px;
}
.drama-list {
  display: flex;
  flex-wrap: wrap;
}
.drama-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.drama-list-item:hover .drama-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.drama-list-title {
  margin-left: 16px;
}
/*==Family==================================*/
.family-list-container {
  margin-top: 16px;
  padding: 20px;
}
.family-list {
  display: flex;
  flex-wrap: wrap;
}
.family-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.family-list-item:hover .family-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.family-list-title {
  margin-left: 16px;
}
/*==Mystery==================================*/
.mystery-list-container {
  margin-top: 16px;
  padding: 20px;
}
.mystery-list {
  display: flex;
  flex-wrap: wrap;
}
.mystery-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.mystery-list-item:hover .mystery-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.mystery-list-title {
  margin-left: 16px;
}
/*==Romance==================================*/
.romance-list-container {
  margin-top: 16px;
  padding: 20px;
}
.romance-list {
  display: flex;
  flex-wrap: wrap;
}
.romance-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.romance-list-item:hover .romance-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.romance-list-title {
  margin-left: 16px;
}
/*==Science Fiction==================================*/
.science-fiction-list-container {
  margin-top: 16px;
  padding: 20px;
}
.science-fiction-list {
  display: flex;
  flex-wrap: wrap;
}
.science-fiction-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.science-fiction-list-item:hover .science-fiction-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.science-fiction-list-title {
  margin-left: 16px;
}
/*==Thriller==================================*/
.thriller-list-container {
  margin-top: 16px;
  padding: 20px;
}
.thriller-list {
  display: flex;
  flex-wrap: wrap;
}
.thriller-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.thriller-list-item:hover .thriller-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.thriller-list-title {
  margin-left: 16px;
}
/*==Western==================================*/
.western-list-container {
  margin-top: 16px;
  padding: 20px;
}
.western-list {
  display: flex;
  flex-wrap: wrap;
}
.western-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 300px;
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 16px;
}
.western-list-item:hover .western-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
}
.western-list-title {
  margin-left: 16px;
}
